#header {
    padding: 1em;
    text-align: center;
}

span {
    font-weight:bold;
}

button {
    background-color: #555555;
    /* Green */
    border: none;
    color: white;
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=text] {
    width: 75%;
    max-width: 300px;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

table {
    margin-left: auto;
    margin-right: auto;
  }

#result {
    font-size: 14;
    font-weight: bold;
}  
.valid {
    color: green;
}

.invalid {
    color: red;
}